.unsubscribe {
    .container {
        max-width: 1120px;
    }

    .head {
        padding: 35px 0;
        border-bottom: 1px solid #112369;

        .b-logo {
            max-width: 350px;
        }
    }

    .main-body {
        h1 {
            font-size: 30px;
            padding: 20px 0;
            color: #112369;
            font-weight: bold;
        }

        .details {
            padding: 0 70px;
            border-bottom: 1px solid #112369;


            .item {
                padding-bottom: 40px;

                .logo {
                    max-width: 50px;
                    margin-right: 20px;
                }

                .text {
                    h4 {
                        font-size: 16px;
                        color: #112369;
                        font-weight: bold;
                        padding-bottom: 10px;
                    }

                    p {
                        font-size: 18px;
                        line-height: 1.2;
                        color: #000000;
                    }
                }
            }
        }

        .choose {
            margin-left: 20px;
            min-width: 30px;

            .switch {
                position: relative;
                display: inline-block;
                width: 38px;
                height: 22px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: 1px solid #bcbcba;
                -webkit-transition: .4s;
                transition: .4s;
                background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(255, 255, 255) 0%, rgb(1, 2, 2) 100%);
                background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(255, 255, 255) 0%, rgb(1, 2, 2) 100%);
                background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(255, 255, 255) 0%, rgb(1, 2, 2) 100%);
                box-shadow: 0px 0px 2px 0px rgba(1, 2, 2, 0.25);
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 22px;
                width: 22px;
                left: 0px;
                bottom: -1px;
                border: 1px solid #bcbcba;
                -webkit-transition: .4s;
                transition: .4s;
                background-color: #ffffff;
                box-shadow: 1px 1.732px 4px 0px #01020201, inset 0px 0px 5px 0px #01020200;
            }

            input:checked+.slider {
                background-color: #16a8e1;
                border: 1px solid #16a8e1;

            }

            input:focus+.slider {
                box-shadow: 0 0 1px #2196F3;
            }

            input:checked+.slider:before {
                -webkit-transform: translateX(15px);
                -ms-transform: translateX(15px);
                transform: translateX(15px);
            }

            /* Rounded sliders */
            .slider.round {
                border-radius: 34px;
            }

            .slider.round:before {
                border-radius: 50%;
            }
        }
    }

    .foot {
        padding-top: 30px;
        padding-inline: 80px;

        p {
            font-size: 16px;
            padding-bottom: 20px;
        }

        button {
            background: #16a8e1;
            color: #fff;
            border: none;
            padding: 10px 25px;
        }

        .c-check {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked~.checkmark {
                    background-color: #16a8e1;
                }

                &:checked~.checkmark:after {
                    display: block;
                }
            }

            .checkmark {
                position: absolute;
                top: -6px;
                left: 0;
                height: 25px;
                width: 25px;
                background-color: #eee;
                border: 1px solid #333253;

                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                &::after {
                    left: 8px;
                    top: 2px;
                    width: 7px;
                    height: 15px;
                    border: solid white;
                    border-width: 0 3px 3px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
}